[client]
port=3306
socket=/usr/local/mysql/mysql.sock
default-character-set=utf8mb4

[mysql]
auto-rehash

[mysqld]
user = mysql
port = 3306
character-set-server = utf8
datadir = /usr/local/mysql/data
basedir = /usr/local/mysql
socket = /usr/local/mysql/mysql.sock
default-storage-engine=InnoDB
log-error = /usr/local/mysql/log/error.log
pid-file = /usr/local/mysql/mysqld.pid
federated

server-id = 1
log_bin = /usr/local/mysql/log/binlog
max_binlog_size = 1024M
binlog_cache_size = 4M
max_binlog_cache_size = 8G
binlog_format=row
#expire_logs_days = 90
#log_bin_trust_function_creators=1

general_log = 0
general_log_file = /usr/local/mysql/log/general.log
slow_query_log=1
slow_query_log_file=/usr/local/mysql/log/mysql-slow.log
long_query_time=5
log_queries_not_using_indexes=1
binlog_rows_query_log_events=1


external-locking = FALSE
skip-external-locking
max_connections = 512
connect_timeout = 10 
wait_timeout = 6000
interactive_timeout = 6000
max_connect_errors = 100
key_buffer_size = 32M
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 64M
thread_cache_size = 51
table_open_cache = 2048
query_cache_size = 32M
tmp_table_size = 96M
max_heap_table_size = 96M
#sync_binlog = 1
lower_case_table_names = 1 
explicit_defaults_for_timestamp = true
log_timestamps = system
skip-host-cache
skip-name-resolve
skip-ssl


transaction_isolation = REPEATABLE-READ
innodb_buffer_pool_size = 2048M
innodb_data_file_path = ibdata1:1024M:autoextend
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size = 16M
innodb_log_file_size = 256M
innodb_log_files_in_group = 2
innodb_max_dirty_pages_pct = 50
innodb_file_per_table = 1
innodb_status_file =1
innodb_locks_unsafe_for_binlog = 0
innodb_buffer_pool_load_at_startup=1
innodb_buffer_pool_dump_at_shutdown=1
innodb_print_all_deadlocks = 1
innodb_lock_wait_timeout = 30
innodb_read_io_threads = 2
innodb_write_io_threads = 2
innodb_io_capacity = 200
innodb_thread_concurrency = 2
innodb_flush_method =O_DIRECT
innodb_open_files = 10000






[mysqldump]
quick
max_allowed_packet = 64M




